NewsFeed/.DS_Store
NewsFeed/Classes/.DS_Store
NewsFeed/NewsFeed.xcodeproj/project.xcworkspace/contents.xcworkspacedata
NewsFeed/NewsFeed.xcodeproj/project.xcworkspace/xcuserdata/leslie.xcuserdatad/UserInterfaceState.xcuserstate
NewsFeed/NewsFeed.xcodeproj/project.xcworkspace/xcuserdata/leslie.xcuserdatad/WorkspaceSettings.xcsettings
NewsFeed/NewsFeed.xcodeproj/xcuserdata/leslie.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
NewsFeed/NewsFeed.xcodeproj/xcuserdata/leslie.xcuserdatad/xcschemes/NewsFeed.xcscheme
NewsFeed/NewsFeed.xcodeproj/xcuserdata/leslie.xcuserdatad/xcschemes/xcschememanagement.plist